@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Fraunces", serif; */
  background-color: var(--cream);
  height: 100vh;
  display: grid;
  place-content: center;
}
#product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 600px;
}
img,
picture {
  display: block;
  max-width: 100%;
  /* border-radius:10px 0;  */
}
#product img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#product .product-content {
  padding: 20px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#product .product-content .category {
  font-size: 12px;
  letter-spacing: 4px;
  color: var(--dark-grayish-blue);
  font-weight: 600;
}
#product .product-content h1 {
  font-family: "Fraunces", serif;
  font-size: 32px;
  line-height: 1;
  margin: 20px 0;
  font-weight: 800;
  color: var(--dark-blue);
}
#product .product-content p {
  font-size: 14px;
  line-height: 1.8;
  color: var(--dark-grayish-blue);
}
#product .product-content .price {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#product .product-content .price .new-price {
  font-size: 32px;
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
  margin-right: 20px;
}

/* #product .product-content .cart {
  background-color: var(--dark-cyan);
  color: #fff;
  padding: 15px;
  text-align: center;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  display: flex;  
  align-items: center;  
  justify-content: center;  
  gap: 10px;  
}

#product .product-content .cart img {
  width: 15px;
  height: 16px;
}

#product .product-content .cart:hover {
    cursor: pointer;
    background-color: hsl(158, 36%, 17%);;
    transition-duration:.5s ; 
} */

#product .product-content .cart {
  background-color: var(--dark-cyan);
  color: #fff;
  padding: 15px;
  text-align: center;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#product .product-content .cart::before {
  content: "";
  display: inline-block;
  background: url("./images/icon-cart.svg") no-repeat center;
  width: 15px;
  height: 16px;
}

#product .product-content .cart:hover {
  cursor: pointer;
  background-color: hsl(158, 36%, 17%);
  transition-duration: .5s;
}
@media (max-width: 700px) {
  #product {
    grid-template-columns: 1fr;
  }
  #product img {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  #product .product-content {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
